artifacts
corpus/*
!corpus/parser_handlers/
corpus/parser_handlers/*
!corpus/parser_handlers/seed_*
!corpus/language_parsers/
corpus/language_parsers/*
!corpus/language_parsers/seed_*
!corpus/language_parsers/markdown_shorter_source_old_tree
!corpus/tree_cache_stateful/
corpus/tree_cache_stateful/*
!corpus/tree_cache_stateful/seed_*
!corpus/tree_cache_stateful/bash_shorter_source_old_tree
!corpus/tree_cache_stateful/json_reparse_with_bash_tree
!corpus/parser_invariants/
corpus/parser_invariants/*
!corpus/parser_invariants/seed_*
!corpus/ast_helpers_walk/
corpus/ast_helpers_walk/*
!corpus/ast_helpers_walk/seed_*
!corpus/regex_sql_udf/
corpus/regex_sql_udf/*
!corpus/regex_sql_udf/seed_*
coverage
!regex.dict
target
crash-*
